<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" href="#" [routerLink]='["/home"]'>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" [routerLink]='["/heroes"]'>Heroes</a>
      </li>
      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" href="#" [routerLink]='["/about"]'>About</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar..." (keyup.enter)='buscarHeroe(buscarHeroeText.value)' #buscarHeroeText>
      <button class="btn btn-primary my-2 my-sm-0" type="button" (click)='buscarHeroe(buscarHeroeText.value)' >Buscar</button>
    </div>
  </div>
</nav>